{%extends "base.html"%}{% block title%} Send Money{% endblock%}
{% block content%}
<div class="body-container send-money">
    <div class="send-money-container">
    <div class="heading">
        <p>Send Money</p>
    </div>
    <div class="sub-heading">
        Please enter the details below.
        </div>
    <div class="form-block">
        <form method="post" action="/send-money/">
            <div class="login-account">
                <div class="form-group">
                    <input type="text" id="amount" name="amount" placeholder="Enter amount" required>
                </div>
                <div class="form-group">
                    <input type="text" id="email" name="email" placeholder="Enter recipient's email address" required>
                </div>
                <div class="form-group">
                    <input type="text" id="password" name="password" placeholder="Enter your password" required>
                </div>
            </div>
            <div class="form-buttons">
                <button class="btn submit" type="back">Back</button>
                <button class="btn submit" type="submit">Submit</button>
            </div>
        </form>
    </div>
    </div>
    <div class="container-img">
        <img src="../static/images/SendMoney.png" alt="3D Mobile image">
    </div>

    
</div>
{% endblock %}